header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: white;
  z-index: 1;
}

body {
  margin: 0;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
}

.logo-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 72px;
  box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
}

.logo-img {
  margin-left: 82px;
}

.delyvery-type {
  margin-left: 12px;
  border: none;
}

.delivery-block {
  display: flex;
  align-items: center;
}
.delivery-block span {
  margin: 0 9px;
}

.delivery-point {
  display: flex;
  align-items: center;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 8px;
  width: 292px;
  height: 40px;
}

.speed-deliv {
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 2px;
  width: 65px;
  height: 40px;
  text-align: center;
}

.button {
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  height: 40px;
  width: 80px;
  border-radius: 2px;
}

.authorization {
  display: flex;
  align-items: center;
  margin-right: 97px;
}

.busket {
  margin-left: 27px;
}

.reg-button {
  cursor: pointer;
  margin-left: 16px;
  color: white;
  background-color: black;
  border: 1px solid black;
}

.sign-button {
  cursor: pointer;
  border: 1px solid #e0e0e0;
  background-color: white;
}

.line {
  width: auto;
  height: 1px;
  background: #757575;
  mix-blend-mode: normal;
  opacity: 0.3;
}

.search {
  display: flex;
  align-items: center;
  height: 39px;
  margin-top: 79px;
  z-index: 0;
}

.search-field {
  border: none;
  width: 927px;
}

.search-field:focus,
.speed-deliv:focus,
.delyvery-type:focus {
  outline: none;
}

.search-field::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #626262;
  mix-blend-mode: normal;
  opacity: 0.5;
}

main {
  padding: 40px 79px;
  line-height: 21px;
}

h1 {
  font-size: 22px;
  line-height: 34px;
  margin-top: 56px;
}

.product-card {
  margin-top: 16px;
  width: 100%;
  height: 100%;
}
.product-card img {
  width: 100%;
}

.name-product {
  margin-top: 16px;
  font-size: 16px;
  line-height: 24px;
}

.product-type {
  margin-top: 4px;
  font-size: 14px;
}

.deliv-time {
  margin-top: 4px;
  font-size: 13px;
}

.product-card:hover {
  background-color: rgba(117, 117, 117, 0.05);
  mix-blend-mode: normal;
  transition: 0.5s;
  width: 99%;
  height: 99%;
  box-shadow: 0 0 10px 5px #dddddd;
  cursor: pointer;
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}

footer {
  margin-top: 63px;
  height: 592px;
  width: 100%;
  box-sizing: border-box;
  background: #262626;
  padding: 56px 87px 0 81px;
  color: white;
  font-size: 16px;
  line-height: 19px;
}

.footer-logo {
  margin-bottom: 41px;
}

.footer-line {
  height: 1px;
  width: 100%;
  background: white;
  mix-blend-mode: normal;
  opacity: 0.4;
}

.about-sector {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 40px);
  justify-items: start;
  align-items: start;
  grid-template-areas: "row1col1 row1col2 row1col3" ". row2col2 row2col3" ". row3col2 row3col3" ". . row4col3";
  margin: 39px;
}
.about-sector a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  line-height: 15px;
}
.about-sector a:hover {
  color: pink;
}

.row1col2 {
  grid-area: row1col2;
}

.row2col2 {
  grid-area: row2col2;
}

.row3col2 {
  grid-area: row3col2;
}

.row1col3 {
  grid-area: row1col3;
}

.row2col3 {
  grid-area: row2col3;
}

.row3col3 {
  grid-area: row3col3;
}

.row4col3 {
  grid-area: row4col3;
}

.chng_lang {
  appearance: none;
  color: white;
  background: url(../images/Shape.svg);
  background-repeat: no-repeat;
  background-size: 16px 18px;
  background-position: 203px center;
  text-transform: uppercase;
  border: none;
  outline: none;
  border-radius: 2px;
  background-color: #3b3b3b;
  width: 100%;
  height: 40px;
  padding-left: 48px;
}

.lang {
  background-color: #3b3b3b;
  border-radius: 2px;
  width: 227px;
  height: 40px;
}

.lang span {
  color: #49a144;
}

.lang p {
  margin-top: 33px;
  cursor: default;
}

.lang svg {
  position: absolute;
  margin: 12px 16px;
}

.soc-net-link {
  margin-top: 20px;
  height: 18px;
}

.facebook img:hover {
  border-radius: 15%;
  background: linear-gradient(to top, #a696ff, #2649e6);
}

.twitter {
  margin-left: 8px;
}

.twitter img:hover {
  border-radius: 15%;
  background: linear-gradient(to top, #a696ff, #2649e6);
}

.instagram {
  margin-left: 8px;
  order: 1;
}

.instagram img:hover {
  border-radius: 15%;
  background: linear-gradient(to top, #e97a9f, #f503ac);
}

.app_link {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 41px 0 39px;
}

.app-store {
  margin-right: 20px;
}

.google-play {
  margin-left: 20px;
}

.google-play:hover,
.app-store:hover {
  opacity: 0.5;
}

.privacy {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: start;
  align-items: start;
  margin: 40px 0;
  font-size: 11px;
  line-height: 13px;
}
.privacy .privacy-link {
  text-decoration: none;
  color: white;
}
.privacy .privacy-link:hover {
  color: red;
}

@media screen and (max-width: 1023px) {
  .line {
    margin: 0 6px;
  }

  main {
    padding: 0 7px;
  }

  .logo-img {
    margin-left: 6px;
  }

  .authorization {
    margin-right: 6px;
  }

  footer {
    padding: 56px 6px 0;
  }
}

/*# sourceMappingURL=main.css.map */
