header {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
}

body {
  margin: 0;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
}

.header-block {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 72px;
  grid-column-gap: 20px;
  align-items: center;
  box-sizing: border-box;
  height: 72px;
  width: 100%;
  box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
}

.logo-img {
  margin-left: 82px;
}

.destination {
  margin-left: 12px;
  background-image: url(../images/location.svg);
  background-repeat: no-repeat;
  background-position: 12px center;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 2px;
  padding-left: 36px;
  width: 100%;
  height: 40px;
}

.delivery-block {
  display: flex;
  align-items: center;
  justify-content: center;
  & span {
    margin: 0 9px;
  }
}

.speed-delivery {
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 2px;
  width: 65px;
  height: 40px;
  text-align: center;
}

.button {
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  height: 40px;
  width: 80px;
  border-radius: 2px;
}

.authorization {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 97px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
}

.busket {
  transition: 0.4s;
  margin-left: 14px;
}

.busket:hover {
  transition: 0.4s;
  transform: scale(1.09);
}

.reg-button {
  cursor: pointer;
  margin-left: 16px;
  color: black;
  background-color: white;
  border: 1px solid black;
  transition: 0.5s;
}

.sign-button {
  cursor: pointer;
  color: white;
  background-color: black;
  border: 1px solid black;
  transition: 0.5s;
}

.sign-button:hover {
  transform: scale(0.98);
  background-color: rgb(115, 227, 241);
  color: black;
}

.reg-button:hover {
  transform: scale(0.98);
  background-color: greenyellow;
  color: blue;
}

.search-block {
  margin-top: 71px;
}

.search-block-mobil {
  display: none;
}

.line,
.line-mobile {
  width: auto;
  height: 1px;
  background: #757575;
  mix-blend-mode: normal;
  opacity: 0.3;
}

.search-small {
  display: none;
}

.to-mobile,
.when-mobile {
  display: none;
}

.search {
  display: flex;
  align-items: center;
  height: 39px;
  z-index: 0;
  & img {
    margin-bottom: 15px;
  }
}

.search-field {
  margin: 0 0 15px 8px;
  width: 100%;
  height: 47px;
  padding-left: 34px;
  border: none;
  border-bottom: 1px solid rgba(117, 117, 117, 0.3);
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: 5px center;
}

.search-field:focus,
.speed-delivery:focus,
.destination:focus {
  outline: none;
  background-color: #fdf3f3;
}

.search-field::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #626262;
  mix-blend-mode: normal;
  opacity: 0.5;
}

main {
  padding: 40px 79px;
  line-height: 21px;
}

h1 {
  font-size: 22px;
  line-height: 34px;
  margin-top: 56px;
}

.product-card {
  margin-top: 16px;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  & img {
    width: 100%;
  }
}

.name-product {
  margin-top: 16px;
  font-size: 16px;
  line-height: 24px;
}

.product-type {
  margin-top: 4px;
  font-size: 14px;
}

.delivery-time {
  margin-top: 4px;
  font-size: 13px;
}

.product-card:hover {
  background-color: rgb(117,117,117,0.05);
  mix-blend-mode: normal;
  transform: scale(0.98);
  transition: 0.5s;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  cursor: pointer;
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}

footer {
  margin-top: 63px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: #262626;
  padding: 56px 87px 0 81px;
  color: white;
  font-size: 16px;
  line-height: 19px;
}

.footer-logo {
  margin-bottom: 41px;
}

.footer-line {
  height: 1px;
  width: 100%;
  background: white;
  mix-blend-mode: normal;
  opacity: 0.4;
}

.about-sector {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 40px);
  justify-items: start;
  align-items: start;
  column-gap: 5px;
  grid-template-areas: "row1col1 row1col2 row1col3"
    ". row2col2 row2col3"
    ". row3col2 row3col3"
    ". . row4col3";
  margin: 39px 0;
  & a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    line-height: 15px;
  }
  & a:hover {
    color: pink;
  }
}

.About {
  grid-area: row1col2;
}

.Partner {
  grid-area: row2col2;
}

.Restaurant {
  grid-area: row3col2;
}

.all-cities {
  grid-area: row1col3;
}

.Pricing {
  grid-area: row2col3;
}

.Help {
  grid-area: row3col3;
}

.FAQs {
  grid-area: row4col3;
}

.change-lang {
  color: white;
  background: url(../images/Shape.svg);
  background-repeat: no-repeat;
  background-size: 16px 18px;
  background-position: 203px center;
  text-transform: uppercase;
  border: none;
  outline: none;
  border-radius: 2px;
  background-color: #3b3b3b;
  width: 100%;
  height: 40px;
  padding-left: 48px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.change-lang:hover {
  background-color: #525050;
  cursor: pointer;
}

.lang {
  background-color: #3b3b3b;
  border-radius: 2px;
  width: 227px;
  height: 40px;
}

.lang span {
  color: #49a144;
}

.lang p {
  margin-top: 33px;
  cursor: default;
}

.lang svg {
  position: absolute;
  margin: 12px 16px;
}

.soc-net-link {
  margin-top: 20px;
  height: 18px;
}

.facebook img:hover {
  border-radius: 15%;
  background: linear-gradient(to top, #a696ff, #2649e6);
}

.twitter {
  margin-left: 8px;
}

.twitter img:hover {
  border-radius: 15%;
  background: linear-gradient(to top, #a696ff, #2649e6);
}

.instagram {
  margin-left: 8px;
  order: 1;
}

.instagram img:hover {
  border-radius: 15%;
  background: linear-gradient(to top, #e97a9f, #f503ac);
}

.app-link {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 41px 0 39px;
}

.app-store {
  margin-right: 20px;
}

.google-play {
  margin-left: 20px;
}

.google-play:hover,
.app-store:hover {
  opacity: 0.5;
}

.privacy {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: start;
  align-items: start;
  margin: 40px 0;
  font-size: 11px;
  line-height: 13px;
  & .privacy-link {
    text-decoration: none;
    color: white;
  }
  & .privacy-link:hover {
    color: red;
  }
}

@media screen and (max-width: 1023px) {
  .line {
    margin: 0 6px;
  }
  main {
    padding: 0 7px;
  }
  .logo-img {
    margin-left: 6px;
  }
  .authorization {
    margin-right: 6px;
  }
  .delivery-point {
    width: 100%;
  }
  .delivery-block {
    margin: 0 15px;
  }
  footer {
    padding: 56px 6px 0;
  }
  .menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
  header {
    position: relative;
  }
}

@media screen and(max-width: 639px) {
  body {
    margin: 0;
  }
  .header-block {
    box-shadow: 0 0 16px 0 rgba(38, 38, 38, 0.16);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 72px 90px 20px 40px;
    column-gap: 0;
    row-gap: 20px;
  }
  .destination {
    margin: 0;
  }
  .logo-img {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .delivery-block {
    width: 96%;
    margin: 8px 0 40px 8px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .authorization {
    grid-column-start: 2/3;
  }
  .search-block-mobil {
    display: initial;
    margin-right: 6px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .reg-button {
    margin-left: 12px;
  }
  .busket {
    display: none;
  }
  .search-small {
    display: flex;
    align-items: center;
    height: 24px;
    margin: 79px 0 15px 8px;
    outline: none;
  }
  .search-field {
    width: 100%;
    margin-left: 0;
  }
  .search,
  .to,
  .line {
    display: none;
  }

  .line-mobile {
    margin: 0 4px 24px;
  }
  .speed-delivery {
    margin-right: 16px;
  }
  .to-mobile,
  .when-mobile {
    display: initial;
  }
  .whenTo {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .when-mobile {
    color: #626262;
    font-size: 11px;
    line-height: 13px;
    margin: 0 55px 0 8px;
  }

  .to-mobile {
    color: #626262;
    font-size: 11px;
    line-height: 13px;
  }

  main {
    margin: 239px 4px 0 8px;
  }
  .menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }
  h1 {
    margin-bottom: 14px;
  }

  .about-sector {
    display: flex;
    flex-direction: column;
    margin: 32px 0 17px;
    & a {
      margin-bottom: 23px;
    }
  }
  .lang {
    margin-bottom: 130px;
    padding: 0;
  }
  .privacy {
    display: flex;
    flex-direction: column;
    & a {
      margin-bottom: 24px;
    }
  }
  #toTop {
    width: 75%;
    height: 75%;
  }
}

@media screen and(max-width: 800px) {
  .busket {
    display: none;
  }
}

#toTop {
  position: fixed;
  bottom: 24px;
  right: 16px;
  cursor: pointer;
  width: 80px;
  height: 80px;
  background: url(../images/btn-up.png) 50% 50% no-repeat;
  border-radius: 2px;
  display: none;
  z-index: 1;
  &:hover {
    opacity: 0.8;
  }
}
